<div class="sidebar-wrap">
    <div class="sidebar-title">
        <h1>菜单</h1>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li>
                <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                <ul class="sub-menu">
                    <li><a href="__MODULE__/Cate/lists"><i class="icon-font">&#xe008;</i>栏目管理</a></li>
                    <!--<li><a href="__MODULE__/Cate/lists"><i class="icon-font">&#xe005;</i>栏目管理</a></li>-->
                    <!--<li><a href="__MODULE__/Cate/lists"><i class="icon-font">&#xe006;</i>分类管理</a></li>-->
                    <!--<li><a href="__MODULE__/Cate/lists"><i class="icon-font">&#xe004;</i>留言管理</a></li>-->
                    <!--<li><a href="__MODULE__/Cate/lists"><i class="icon-font">&#xe012;</i>评论管理</a></li>-->
                    <!--<li><a href="__MODULE__/Cate/lists"><i class="icon-font">&#xe052;</i>友情链接</a></li>-->
                    <!--<li><a href="__MODULE__/Cate/lists"><i class="icon-font">&#xe033;</i>广告管理</a></li>-->
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                <ul class="sub-menu">
                    <li><a href="__MODULE__/Hpage/lists"><i class="icon-font">&#xe017;</i>首页管理</a></li>
                    <li><a href="__MODULE__/Active/lists"><i class="icon-font">&#xe005;</i>博文管理</a></li>
                    <li><a href="__MODULE__/About"><i class="icon-font">&#xe046;</i>关于</a></li>
                    <!--<li><a href="__MODULE__/Cate/system"><i class="icon-font">&#xe045;</i>数据还原</a></li>-->
                </ul>
            </li>
        </ul>
    </div>
</div>